* {
    border-radius: 1;
    font-family: "BerkeleyMono Nerd Font";
    font-size: 11px;
    min-height: 0;
    font-weight: bold;
    border: 0px;
}

window#waybar {
    background: #282828;
    color: #ebdbb2;
}

#workspaces {
	background-color: #282828;
	margin: 1px;
	margin-left: 5px;
	border-radius: 5px;

}
#workspaces button {
    padding: 0 4px;
    color: #e8e8e8;
}

#workspaces button.focused {
    color: #2e3440;
    background-color: #e8e8e8;
    border-radius: 5px;
}

#workspaces button:hover {
    color: #1A1A1A;
	background-color: #5e81ac;
	border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	padding: 0px 10px;
	margin: 5px 0px;
}

#custom-date {
	color: #e8e8e8;
}
#cpu {
    color: #e8e8e8;
}
#memory {
    color: #e8e8e8;
}
#temperature {
    color: #e8e8e8;
}
#backlight {
    color: #e8e8e8;
}

#clock {
    color: #e8e8e8;
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#battery {
    color: #e8e8e8;
}

@keyframes blink {
    to {
        background-color: #e8e8e8;
        color: black;
    }
}

#battery.charging {
    color: #e8e8e8;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#network {
	color: #e8e8e8;
}
#idle_inhibitor {
    color: #e8e8e8;
}

#pulseaudio {
	color: #e8e8e8;
	border-radius: 5px 3px 3px 5px;
}
