@import "./rose-pine.css";

* {
    border-radius: 1;
    font-size: 10px;
    font-family: "BerkeleyMono Nerd Font";
    min-height: 0;
    font-weight: bold;
    background: @base;
    border: 0px solid @overlay;
}

window#waybar {
    background: #1A1A1A;
    color: white;
}

#workspaces {
    color: @foam;
	margin: 2px;
	margin-left: 2px;
	border-radius: 2px;

}
#workspaces button {
    padding: 0 1px;
    color:@rose;
}
#workspaces button.active{
    color: white;
	background-color: @foam;
	border-radius: 2px;
}
#workspaces button.focused {
    color: @foam;
    background-color: white;
    border-radius: 2px;
}

#workspaces button:hover {
    color: @rose;
	background-color: @foam;
	border-radius: 2px;
}

#custom-date,#custom-clipboard,#cpu, #clock, #battery, #pulseaudio, #network, #custom-governor, #custom-betterbattery, #idle_inhibitor, #tray{
	padding: 0px 5px;
	margin: 0px 0px;
}

#custom-date {
	color: #e8e8e8;
}
#cpu {
    color: #e8e8e8;
}
#memory {
    color: #e8e8e8;
}
#temperature {
    color: #e8e8e8;
}
#backlight {
    color: #e8e8e8;
}
#idle_inhibitor {
    color: #e8e8e8;
}

#clock {
    color: #e8e8e8;
    border-radius: 0px 5px 5px 0px;
    margin-right: 3px;
}

#battery {
    color: #e8e8e8;
}

@keyframes blink {
    to {
        background-color: white;
        color: white;
    }
}

#custom-betterbattery.charging {
    color: #e8e8e8;
}

#custom-spotify {
    color: #e8e8e8;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#network {
	color: #e8e8e8;
}

#pulseaudio {
	color: #e8e8e8;
	border-radius: 5px 3px 3px 5px;
}
